<h1>Dữ liệu của Controller gửi về là: @ViewBag.infoHTPP</h1>
<form asp-action="Index">
    <label>Nhập Mã HTPP:</label>
    <input type="text" name="MaHTPP"><br>
    <label>Nhập Tên HTPP:</label>
    <input type="text" name="TenHTPP"><br>
    <input type="submit" value="Gửi dữ liệu">
</form>