<h1>Dữ liệu của Controller gửi về là: @ViewBag.infoDaiLy</h1>
<form asp-action="Index">
    <label>Nhập Mã đại lý:</label>
    <input type="text" name="MaDaiLy"><br>
    <label>Nhập Tên đại lý:</label>
    <input type="text" name="TenDaiLy"><br>
    <label>Nhập địa chỉ:</label>
    <input type="text" name="DiaChi"><br>
    <label>Nhập Người đại diện:</label>
    <input type="text" name="NguoiDaiDien"><br>
    <label>Nhập Số điện thoại:</label>
    <input type="text" name="DienThoai"><br>
    <input type="submit" value="Gửi dữ liệu">
</form>